body {
	margin:0 auto;
	padding:0px;
	background-color:#24272E;
}


header {
	text-align:center;
	font-family:sans-serif;
	background-color:white;
}

.score_board {
	margin:5% 880px;
	font-size:50px;
	border:2px solid white;
	width:150px;
}

.result {
	margin:2% 30%;
	font-size:50px;
	color:white;
	width:100%;
}

.label {
	font-size:20px;
	background:red;
	color:white;
	border:2px solid black;
	width:70px;
}

#user {
	position:relative;
	top:35px;
	right:60px;
}

#computer {
	position:relative;
	top:10px;
	left:135px;
}

#images {
	width:50%;
	margin:5% 32%;
}

#images div {
	display:inline;
}


.score {
	position:relative;
	top:-40px;
	left:30px;
	color:white;
}


img {
	border:solid 2px;
	padding:4%;
	margin:2% 50px;
	border-radius:50%;
	background: white;
}

img:hover {
opacity: 0.6;
}



